<template>
  <v-container fluid>
    <v-card dark>
      <v-row align="center" justify="center">
        <v-col sm="6" md="6">
          <p class="display-1 text-center green--text text--lighten-1">Cadastro de pessoas</p>
          <v-form ref="form">
            <v-text-field
              solo
              background-color="grey"
              required
              color="green--text"
              v-model="name"
              label="Email"
              :error-messages="nameErrors"
            ></v-text-field>
            <v-text-field
              v-model="password"
              solo
              background-color="grey"
              required
              :append-icon="showpass ? 'mdi-eye-circle-outline' : 'mdi-eye-circle'"
              :type="showpass ? 'text' : 'password'"
              :error-messages="passwordErrors"
              @click:append="showpass = !showpass"
              label="Password"
            ></v-text-field>
            <v-text-field
              v-model="confirmPassword"
              solo
              background-color="grey"
              required
              :append-icon="showconfpass ? 'mdi-eye-circle-outline' : 'mdi-eye-circle'"
              :type="showconfpass ? 'text' : 'password'"
              @click:append="showconfpass = !showconfpass"
              :error-messages="confirmPasswordErrors"
              label="Confirm Password"
            ></v-text-field>
            <v-btn class="mr-4" color="green" @click="submit">cadastrar</v-btn>
          </v-form>
          <br />
          <br />
          <v-alert
            :value="error"
            border="right"
            colored-border
            type="error"
            transition="scale-transition"
          >{{errorText}}</v-alert>
          <v-alert
            :value="success"
            border="right"
            colored-border
            type="success"
            transition="scale-transition"
          >Usuário criado com sucesso!</v-alert>
        </v-col>
      </v-row>
    </v-card>

    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, email, sameAs } from "vuelidate/lib/validators";
const qs = require("qs");
export default {
  mixins: [validationMixin],

  validations: {
    name: { required, email },
    password: { required },
    confirmPassword: { required, sameAsPassword: sameAs("password") }
  },

  data: () => ({
    name: "",
    password: "",
    confirmPassword: "",
    showpass: false,
    showconfpass: false,
    error: false,
    success: false,
    errorText: "",
    equipes: null,
    cap: false,
    adm: false,
    equipesel: null,
    dialog: false,
    pessoas: [],
    loading: false,
    headers: [
      { text: "Nome", value: "Username" },
      { text: "Equipe", value: "EquipeName" },
      { text: "Capitao", value: "Capitao" },
      { text: "Adm", value: "Admin" },
      { text: "Salvar", value: "action", sortable: false }
    ]
  }),

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.email && errors.push("email must be valid");
      !this.$v.name.required && errors.push("Email is required.");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("Password is required.");
      return errors;
    },
    confirmPasswordErrors() {
      const errors = [];
      if (!this.$v.confirmPassword.$dirty) return errors;
      !this.$v.confirmPassword.sameAsPassword &&
        errors.push("Passwords are not equal");
      !this.$v.confirmPassword.required &&
        errors.push("Password confirmation is required.");
      return errors;
    },
    getLoading() {
      return this.$store.getters.getloading;
    }
  },

  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      var data = {
        Password: this.password,
        Email: this.name,
        ConfirmPassword: this.confirmPassword,
        EquipeId: this.$store.getters.idEquipe,
        Admin: false,
        Capitao: false
      };


      this.loading=true
      this.axios
        .post(
          "https://projetolincepa.azurewebsites.net/api/Account/Register",
          data,
          {
            headers: {
              "content-type": "application/json"
            }
          }
        )
        .then(r => {
          this.success = true;
          setTimeout(() => {
            this.success = false;
            this.dialog = false;
          }, 1000);
        })
        .catch(e => {
          this.error = true;
          setTimeout(() => {
            this.error = false;
          }, 10000);
          this.errorText = e;
        })
        .finally(() => {
          this.loading=false
        });
    }
  }
};
</script>