<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col sm="11" md="8">
        <v-card dark>
          <v-card-title>
            Equipes
            <v-spacer></v-spacer>
            <v-btn text icon color="green" @click="equipe">
              <v-icon>mdi-account-multiple-plus</v-icon>
            </v-btn>
          </v-card-title>
          <v-data-table
            dark
            :headers="headers"
            :items="teams"
            color="grey"
            no-data-text="Nenhuma Equipe Cadastrada"
          >
            <template v-slot:item.action="{ item }">
              <v-icon @click="editDialog(item)" color="blue">mdi-pencil-outline</v-icon>
              <v-icon color="red" @click="confirmDel(item)">mdi-delete-forever</v-icon>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-overlay :value="getLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-dialog v-model="dialog" width="900">
      <v-card shaped="true" color="grey darken-2">
        <v-container fluid>
          <v-row align="center" justify="center">
            <v-col>
              <h1 class="display-1 text-center">Registro de Equipe</h1>
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col sm="6" md="6">
              <v-text-field
                label="Nome"
                solo
                background-color="grey"
                required
                color="green--text"
                v-model="teamName"
                :error-messages="nomeError"
              ></v-text-field>
              <v-btn outlined color="success" @click="create">Cadastrar</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogEdit" width="600px">
      <v-container grid-list-xs>
        <v-row align="center" justify="center">
          <v-col sm="12" md="12">
            <v-card dark>
              <v-card-title class="red--text">Alteracão de nome</v-card-title>
              <v-card-text>
                <v-text-field
                  label="Nome"
                  solo
                  background-color="grey"
                  required
                  color="green--text"
                  v-model="editTeam"
                  :error-messages="nomeError"
                ></v-text-field>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-btn outlined color="success" @click="edit">Alterar</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-dialog>
    <v-dialog v-model="confirmDelete" transition="dialog-transition">
      <v-card dark>
        <v-card-title class="red--text">Confirmação</v-card-title>
        <v-card-text>Confirmar a acao de deletar a equipe {{delItem.Name}}</v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn outlined color="success" @click="del(delItem)">Confirmar</v-btn>
          <v-btn outlined color="red" @click="confirmDelete=false">Voltar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
export default {
  mixins: [validationMixin],
  validations: {
    teamName: { required }
  },

  data: () => ({
    name: "",
    password: "",
    confirmPassword: "",
    showpass: false,
    showconfpass: false,
    error: false,
    success: false,
    errorText: "",
    text: "",
    headers: [
      { text: "Nome", value: "Name" },
      { text: "", value: "action", sortable: false }
    ],
    teams: [],
    dialog: false,
    teamName: null,
    loading: false,
    confirmDelete: false,
    delItem: {},
    dialogEdit: false,
    editTeam: null,
    editTeamBf: null
  }),

  methods: {
    edit() {
      this.dialogEdit=false
      this.update({ Name: this.editTeam, id: this.editTeamID });
    },
    editDialog(item) {
      this.dialogEdit = true;
      this.editTeam = item.Name;
      this.editTeamID = item.Id;
    },
    equipe() {
      this.dialog = true;
    },
    confirmDel(item) {
      this.delItem = item;
      this.confirmDelete = true;
    },
    del(item) {
      let a = this;
      var url = "https://projetolincepa.azurewebsites.net/api/Equipe";
      this.loading = true;
      this.confirmDelete = false;
      this.axios
        .delete(url, {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.$store.getters.gettoken
          },
          data: { id: item.Id }
        })
        .then(r => {
  
          this.teams.splice(this.teams.indexOf(item), 1);
        })
        .catch(e => {
   
        })
        .finally(() => {
          this.loading = false;
        });
    },

    create() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      this.dialog = false;
      this.loading = true;
      var url = "https://projetolincepa.azurewebsites.net/api/Equipe";
      this.axios
        .post(
          url,
          { Name: this.teamName },
          {
            headers: {
              "Content-Type": "application/json",
              Authorization: "Bearer " + this.$store.getters.gettoken
            }
          }
        )
        .then(r => {
        })
        .finally(() => {
          this.getAllTeams()
          this.teamName = "";
        });
    },
    update(payload) {
      var url = "https://projetolincepa.azurewebsites.net/api/Equipe";
      this.loading = true;


      this.axios
        .put(url, payload, {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.$store.getters.gettoken
          }
        })
        .catch(e => {

        })
        .finally(() => {
          this.getAllTeams();
        });
    },
    getAllTeams() {
      this.loading = true;
      var url = "https://projetolincepa.azurewebsites.net/api/Equipe";
      if (this.name != "") {
        url += "/" + this.name;
      }
      this.axios
        .get(url, {
          crossDomain: true,
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.$store.getters.gettoken
          }
        })
        .then(r => {
          this.success = true;
          console.log("Todas as equipes:",r.data);
          
          this.teams = r.data;
          setTimeout(() => {
            this.success = false;
          }, 10000);
        })
        .catch(e => {

          this.errorText = e;
          this.error = true;
          setTimeout(() => {
            this.error = false;
          }, 10000);
        })
        .finally(() => {
          this.loading = false;
        });
    }
  },
  mounted() {
    this.getAllTeams();
  },
  computed: {
    nomeError() {
      const errors = [];
      if (!this.$v.teamName.$dirty) return errors;
      !this.$v.teamName.required && errors.push("Nome necessario");
      return errors;
    },
    getLoading() {
      return this.$store.getters.getloading;
    }
  }
};
</script>