<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col sm="11" md="8">
        <v-card dark>
          <v-card-title>
            Pessoas
            <v-spacer></v-spacer>
            <v-btn text icon color="green" @click="dialog=true">
              <v-icon>mdi-account-multiple-plus</v-icon>
            </v-btn>
          </v-card-title>
          <v-data-table
            dark
            :headers="headers"
            :items="pessoas"
            color="grey"
            no-data-text="Nenhuma Pessoa Cadastrada"
          >
            <template v-slot:item.EquipeName="{ item }">
              <p v-if="item.EquipeName==''">Não Consta</p>
              <p v-else>{{item.EquipeName}}</p>
            </template>
            <template v-slot:item.Admin="{ item }">
              <v-checkbox v-if="!item.Capitao" required dark v-model="item.Admin"></v-checkbox>
            </template>
            <template v-slot:item.Capitao="{ item }">
              <v-checkbox v-if="!item.Admin && item.EquipeName!=''" required dark v-model="item.Capitao"></v-checkbox>
            </template>
            <template v-slot:item.action="{ item }">
              <v-icon @click="update(item)" color="green">mdi-check-outline</v-icon>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" transition="dialog-transition">
      <v-card dark>
        <v-row align="center" justify="center">
          <v-col sm="6" md="6">
            <p class="display-1 text-center green--text text--lighten-1">Cadastro de pessoas</p>
            <v-form ref="form">
              <v-text-field
                solo
                background-color="grey"
                required
                color="green--text"
                v-model="name"
                label="Email"
                :error-messages="nameErrors"
              ></v-text-field>
              <v-text-field
                v-model="password"
                solo
                background-color="grey"
                required
                :append-icon="showpass ? 'mdi-eye-circle-outline' : 'mdi-eye-circle'"
                :type="showpass ? 'text' : 'password'"
                :error-messages="passwordErrors"
                @click:append="showpass = !showpass"
                label="Password"
              ></v-text-field>
              <v-text-field
                v-model="confirmPassword"
                solo
                background-color="grey"
                required
                :append-icon="showconfpass ? 'mdi-eye-circle-outline' : 'mdi-eye-circle'"
                :type="showconfpass ? 'text' : 'password'"
                @click:append="showconfpass = !showconfpass"
                :error-messages="confirmPasswordErrors"
                label="Confirm Password"
              ></v-text-field>
              <v-row align="center" justify="center" v-if="true">
                <v-col sm="6" md="6">
                  <v-select
                    dark
                    :items="equipes"
                    filled
                    label="Equipe"
                    item-text="Name"
                    item-value="Id"
                    v-model="equipesel"
                  ></v-select>
                </v-col>
                <v-col sm="6" md="6">
                  <v-checkbox label="Capitão?" required dark v-model="cap"></v-checkbox>
                  <v-checkbox label="Adm?" required dark v-model="adm"></v-checkbox>
                </v-col>
              </v-row>
              <v-btn class="mr-4" color="green" @click="submit">cadastrar</v-btn>
            </v-form>
            <br />
            <br />
            <v-alert
              :value="error"
              border="right"
              colored-border
              type="error"
              transition="scale-transition"
            >{{errorText}}</v-alert>
            <v-alert
              :value="success"
              border="right"
              colored-border
              type="success"
              transition="scale-transition"
            >Usuário criado com sucesso!</v-alert>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, email, sameAs } from "vuelidate/lib/validators";
const qs = require("qs");
export default {
  mixins: [validationMixin],

  validations: {
    name: { required, email },
    password: { required },
    confirmPassword: { required, sameAsPassword: sameAs("password") }
  },

  data: () => ({
    name: "",
    password: "",
    confirmPassword: "",
    showpass: false,
    showconfpass: false,
    error: false,
    success: false,
    errorText: "",
    equipes: null,
    cap: false,
    adm: false,
    equipesel: null,
    dialog: false,
    pessoas: [],
    loading: false,
    headers: [
      { text: "Nome", value: "Username" },
      { text: "Equipe", value: "EquipeName" },
      { text: "Capitao", value: "Capitao" },
      { text: "Adm", value: "Admin" },
      { text: "Salvar", value: "action", sortable: false }
    ]
  }),

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.email && errors.push("email must be valid");
      !this.$v.name.required && errors.push("Email is required.");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("Password is required.");
      return errors;
    },
    confirmPasswordErrors() {
      const errors = [];
      if (!this.$v.confirmPassword.$dirty) return errors;
      !this.$v.confirmPassword.sameAsPassword &&
        errors.push("Passwords are not equal");
      !this.$v.confirmPassword.required &&
        errors.push("Password confirmation is required.");
      return errors;
    },
    getLoading() {
      return this.$store.getters.getloading;
    }
  },

  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      var data = {
        Password: this.password,
        Email: this.name,
        ConfirmPassword: this.confirmPassword,
        EquipeId: this.equipesel,
        Admin: this.adm,
        Capitao: this.cap
      };


      this.$store.dispatch("setLoading", true);
      this.axios
        .post(
          "https://projetolincepa.azurewebsites.net/api/Account/Register",
          data,
          {
            headers: {
              "content-type": "application/json"
            }
          }
        )
        .then(r => {
          this.success = true;
          setTimeout(() => {
            this.success = false;
            this.dialog=false
            this.getAllUsers()
          }, 1000);
        })
        .catch(e => {
          this.error = true;
          setTimeout(() => {
            this.error = false;
          }, 10000);
          this.errorText = e;
        })
        .finally(() => {
          this.$store.dispatch("setLoading", false);
        });
    },
    update(item) {
      let a = this;
      let par = {
        admin: item.Admin,
        captain: item.Capitao,
        userId:item.Id
      };
      var url =
        "https://projetolincepa.azurewebsites.net/api/account/UpdateRole?";
      url=url+"admin="+item.Admin+"&captain="+item.Capitao+"&userId="+item.Id

      
      this.loading=true
      this.axios.post(url, {},{
        headers: {
          Authorization: "Bearer " + this.$store.getters.gettoken
        }
      }).then(()=>{
        this.getAllUsers()
      }).catch(()=>{
        this.loading=false
      })
    },
    getAllUsers() {
      let a = this;
      var url =
        "https://projetolincepa.azurewebsites.net/api/Account/GetAllUsers";
      this.loading = true;
      this.axios
        .get(url, {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.$store.getters.gettoken
          }
        })
        .then(r => {
 

          this.pessoas = r.data;
        })
        .catch(e => {
        })
        .finally(() => {
          this.loading = false;
        });
    }
  },
  mounted() {
    this.loading = true;
    this.axios
      .get("https://projetolincepa.azurewebsites.net/api/Equipe", {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + this.$store.getters.gettoken
        }
      })
      .then(r => {
        this.equipes = r.data;
        this.getAllUsers();
      })
      .finally(() => {});
  },
  watch: {
    cap() {
      if (this.cap) {
        this.adm = false;
      }
    },
    adm() {
      if (this.adm) {
        this.cap = false;
      }
    }
  }
};
</script>