<template>
  <v-container grid-list-xs>
    <v-row align="center" justify="center">
      <v-col sm="11">
        <v-card dark>
          <v-card-title>
            Pedidos
            <v-spacer></v-spacer>
            <v-text-field 
              v-model="search"
              append-icon="mdi-card-search-outline"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table :search="search" dark :headers="headers" :items="pedidos" color="grey">
            <template v-slot:top></template>
            <template v-slot:item.action="{ item }">
              <v-icon @click="seeItem(item)" color="green">mdi-database-search</v-icon>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" width="900">
      <v-data-table dark :headers="headerFocus" :items="pedidoFocus" color="grey" :key="render">
        <template v-slot:top></template>
        <template v-slot:item.Status="{item}">
          <p v-if="item.Status==0" class="body-1 red--text">Não Avaliado</p>
          <p v-if="item.Status==1" class="body-1 orange--text">Processando</p>
          <p v-if="item.Status==2" class="body-1 green--text">Concluido</p>
        </template>
        <template v-slot:item.action="{ item }">
          <v-icon @click="seeItemdetail(item)" color="green">mdi-database-search</v-icon>
        </template>
      </v-data-table>
      <v-btn color="success" @click="savePedido()">Alterar Pedido</v-btn>
    </v-dialog>
    <v-dialog v-model="dialogItem">
      <template v-slot:activator="{ on }"></template>
      <v-card class="mx-auto" color="green" dark max-width="900">
        <v-card-title>
          <v-icon large left>mdi-basket-fill</v-icon>
          <span class="title font-weight-light">{{itemFocus.Nome}}</span>
        </v-card-title>
        <v-card-actions>
          <v-list-item class="grow">
            <v-list-item-content>
              <v-list-item-title>{{itemFocus.Link1}}</v-list-item-title>
              <v-list-item-subtitle v-text="'Preço:'+itemFocus.Preco1"></v-list-item-subtitle>
              <v-divider></v-divider>
              <v-list-item-title>{{itemFocus.Link2}}</v-list-item-title>
              <v-list-item-subtitle v-text="'Preço:'+itemFocus.Preco2"></v-list-item-subtitle>
              <v-divider></v-divider>
              <v-list-item-title>{{itemFocus.Link3}}</v-list-item-title>
              <v-list-item-subtitle v-text="'Preço:'+itemFocus.Preco3"></v-list-item-subtitle>
              <v-divider></v-divider>
              <br />
              <br />
              <v-select :items="dropDown" :value="itemFocus.Status" v-model="dropChoice"></v-select>
            </v-list-item-content>
          </v-list-item>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      headers: [
        { text: "Nome", value: "PedidoEntity.DescricaoPedido" },
        { text: "Data feita", value: "PedidoEntity.CriacaoPedido" },
        { text: "Detalhes", value: "action", sortable: false }
      ],
      headerFocus: [
        { text: "Nome", value: "Nome" },
        { text: "Status", value: "Status" },
        { text: "Detalhes", value: "action", sortable: false }
      ],
      pedidos: [],
      pedidosbk: [],
      dialog: false,
      pedidoFocus: null,
      loading: false,
      itemFocus: {},
      dialogItem: false,
      dropDown: [
        { text: "Não Avaliado", value: 0 },
        { text: "Processando", value: 1 },
        { text: "Concluido", value: 2 }
      ],
      render: 0,
      indexItem: null,
      indexPedido: null,
      dropChoice: null,
      search:""
    };
  },
  methods: {
    seeItem(item) {

      this.pedidoFocus = item.PedidoEntity.ItensPedido;
      this.indexPedido = this.pedidos.indexOf(item);
      this.dialog = true;

    },
    seeItemdetail(item) {

      this.itemFocus = item;
      this.indexItem = this.pedidoFocus.indexOf(item);
      this.dialog = false;
      this.dialogItem = true;

    },
    savePedido() {
      let token = this.$store.getters.gettoken;
      this.loading = true;

      let pedido = this.pedidos[this.indexPedido];
      let data = {
        userName: this.$store.getters.getusername,
        Id: pedido.PedidoEntity.Id,
        PedidoEntity: {
          DescricaoPedido: pedido.PedidoEntity.DescricaoPedido
        },
        ItensBinding: pedido.PedidoEntity.ItensPedido
      };


      this.axios
        .put("https://projetolincepa.azurewebsites.net/api/pedido", data, {
          headers: {
            "content-type": "application/json",
            Authorization: "Bearer " + token
          }
        })
        .then(r => {
          this.dialog = false;
          this.pedidosbk = JSON.parse(JSON.stringify(this.pedidos));
        })
        .finally(r => {
          this.loading = false;
        });
    }
  },
  mounted() {
    this.loading = true;
    let vm = this;
    var token = this.$store.getters.gettoken;
    let par;

    let url="https://projetolincepa.azurewebsites.net/api/pedido"
    if (!this.$store.getters.isadm && !this.$store.getters.iscap) {
      par = { UserName: this.$store.getters.getusername };
    }
    if(this.$store.getters.iscap){
      url="https://projetolincepa.azurewebsites.net/api/pedido/GetByEquipe?userId="+this.$store.getters.idUser
    }
    debugger
    
    this.axios
      .get(url, {
        headers: {
          Authorization: "Bearer " + token
        },
        params: par
      })
      .then(r => {
        r.data.forEach(element => {
          let data = element.PedidoEntity.CriacaoPedido;
          let d = new Date(data);
          let dataString =
            d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
          element.PedidoEntity.CriacaoPedido = dataString;

        });
        vm.pedidos = JSON.parse(JSON.stringify(r.data));
        vm.pedidosbk = JSON.parse(JSON.stringify(r.data));
   
        
      }).finally(()=>{
        vm.loading = false;
      })
  },
  watch: {
    dialogItem: function() {
      if (!this.dialogItem) {
        this.dialog = true;
        this.render++;
        this.itemFocus.Status = this.dropChoice;
        this.pedidoFocus[this.indexItem] = this.itemFocus;
        this.pedidos[
          this.indexPedido
        ].PedidoEntity.ItensPedido = this.pedidoFocus;

      }
    },
    dialog: function() {
      if (!this.dialog) {

        this.pedidos = JSON.parse(JSON.stringify(this.pedidosbk));
      }
    }
  }
};
</script>