<template>
<transition name="slide">
  <v-container fluid >
    <v-row align="center" justify="center">
      <v-col sm="4" md="3">
        <v-img :src="require('../assets/unnamed.png')" :key="render"></v-img>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col sm="6" md="3">
        <br />
        <v-row>
          <v-text-field
            v-model="user"
            label="Username"
            solo
            background-color="grey"
            required
            color="green--text"
            :error-messages="userErrors"
          ></v-text-field>
          <v-text-field
            v-model="password"
            solo
            background-color="grey"
            required
            :append-icon="show4 ? 'mdi-eye-circle-outline' : 'mdi-eye-circle'"
            :type="show4 ? 'text' : 'password'"
            @click:append="show4 = !show4"
            label="Password"
            :error-messages="passwordErrors"
          ></v-text-field>
        </v-row>
        <br />
        <v-row>
          <v-btn @click="login" color="green">Login</v-btn>
        </v-row>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col sm="6" md="3">
        <v-row>
          <v-alert
            :value="error"
            border="right"
            colored-border
            type="error"
            transition="scale-transition"
          >{{errorText}}</v-alert>
        </v-row>
      </v-col>
    </v-row>
    <v-overlay :value="getLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</transition>
</template>

<script>
const qs = require("qs");
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
export default {
  mixins: [validationMixin],
  validations: {
    user: { required, email },
    password: { required }
  },

  data() {
    return {
      show4: false,
      password: null,
      user: null,
      error: false,
      errorText: null,
      render:0
    };
  },
  methods: {
    login() {
      this.error = false;
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      this.$store.dispatch("setLoading", true);
      var body = {
        Password: this.password,
        Login: this.user
      };
      body = qs.stringify(body);
      this.axios
        .post("https://projetolincepa.azurewebsites.net/api/Account/Login", body, {
          headers: {
            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
            "Access-Control-Allow-Origin": "*"
          }
        })
        .then(r => {
          debugger
          if(r.data["error"]!=undefined){
            throw r
          }
          let exp = new Date(r.data[".expires"])
          let tokenData = {
            value: r.data.access_token,
            exp:exp
          };
          let userData = {
            value: r.data.userName,
            exp: exp
          };
          let cap={
            value:r.data.capitain,
            exp:exp
          }
          let adm={
            value:r.data.adm,
            exp:exp
          }
          let ID={
            value:r.data.idUser,
            exp:exp
          }
          //todo get from object
          let equipe={
            value:r.data.IdEquipe,
            exp:exp
          }
          
          this.$store.dispatch("setToken", tokenData);
          this.$store.dispatch("setUser", userData);
          this.$store.dispatch("setCapitan",cap)
          this.$store.dispatch("setAdm",adm)
          this.$store.dispatch("setID",ID)
          this.$store.dispatch("setIDEquipe",equipe)
          if(r.data.adm)
            this.$router.push("cadastroequipe");
          else 
            this.$router.push("dash");
        })
        .catch(e => {

          this.errorText = e.data.error_description || "Comunicação com o servidor falha";
          this.error = true;
        })
        .finally(() => {
          this.$store.dispatch("setLoading", false);

          
        });
    },
    teste() {
      this.axios.get("https://172.17.126.68:44354/api/equipe");
    }
  },
  computed: {
    getLoading() {
      return this.$store.getters.getloading;
    },
    userErrors() {
      const errors = [];
      if (!this.$v.user.$dirty) return errors;
      !this.$v.user.email && errors.push("Must be valid e-mail");
      !this.$v.user.required && errors.push("E-mail is required");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.user.$dirty) return errors;
      !this.$v.password.required && errors.push("Password is required");
      return errors;
    }
  }
};
</script>