<template>
  <v-container fluid>
    <v-row align="center" justify="center">
      <v-col sm="6" md="3">
        <h1 class="display-1 text-center">Registro de pedidos</h1>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col sm="11">
        <v-card dark>
          <v-card-title>
            Pedido
            <v-spacer></v-spacer>
            <v-btn text icon color="green" @click="dialog=true">
              <v-icon>mdi-cart-plus</v-icon>
            </v-btn>
            <v-btn outlined color="green"  @click="registrarPedido">
              <v-icon>mdi-cart-arrow-right</v-icon>
              <span>Finalizar compra</span>
            </v-btn>
          </v-card-title>
          <v-data-table dark :headers="headers" :items="itens" color="grey" :key="render">
            <template v-slot:top></template>
            <template v-slot:item.action="{ item }">
              <v-icon @click="editItem(item)" color="blue">mdi-pencil-outline</v-icon>
              <v-icon color="red" @click="remove(item)">mdi-delete-forever</v-icon>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col sm="10" md="6">
        <v-textarea
          color="green--text"
          background-color="grey"
          solo
          v-model="pedidodesc"
          placeholder="Descricao do pedido"
          :error-messages="descItemError"
        ></v-textarea>
      </v-col>
    </v-row>

    <div class="text-center">
      <v-dialog v-model="dialog" width="900">
        <v-card shaped="true" color="grey darken-2">
          <v-container fluid>
            <v-row align="center" justify="center">
              <v-col>
                <h1 class="display-1 text-center">Registro de Item</h1>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col sm="6" md="6">
                <v-text-field
                  label="URL"
                  v-model="Link1"
                  solo
                  background-color="grey"
                  required
                  color="green--text"
                  :error-messages="Link1Error"
                ></v-text-field>
              </v-col>
              <v-col sm="4" md="3">
                <v-text-field
                  label="Preco 1"
                  v-model="Preco1"
                  solo
                  background-color="grey"
                  required
                  color="green--text"
                  :error-messages="precoError"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col sm="6" md="6">
                <v-text-field
                  label="URL"
                  v-model="Link2"
                  solo
                  background-color="grey"
                  required
                  color="green--text"
                  :error-messages="Link2Error"
                ></v-text-field>
              </v-col>
              <v-col sm="4" md="3">
                <v-text-field
                  label="Preco 2"
                  v-model="Preco2"
                  solo
                  background-color="grey"
                  required
                  color="green--text"
                  :error-messages="precoError"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col sm="6" md="6">
                <v-text-field
                  label="URL"
                  v-model="Link3"
                  solo
                  background-color="grey"
                  required
                  color="green--text"
                  :error-messages="Link3Error"
                ></v-text-field>
              </v-col>
              <v-col sm="4" md="3">
                <v-text-field
                  label="Preco 3"
                  v-model="Preco3"
                  solo
                  background-color="grey"
                  required
                  color="green--text"
                  :error-messages="precoError"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col sm="12" md="6">
                <v-text-field
                  label="Nome"
                  v-model="nome"
                  solo
                  background-color="grey"
                  required
                  color="green--text"
                  :error-messages="nomeError"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col sm="12" md="6">
                <v-textarea
                  color="green--text"
                  background-color="grey"
                  solo
                  v-model="Descricao"
                  placeholder="Descricao"
                  :error-messages="descItemError"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col sm="4">
                <v-btn @click="registrar" color="green">Adicionar Item</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-dialog>
    </div>
    <v-row align="center" justify="center">
      <v-col sm="6" md="3">
        <v-row>
          <v-alert
            :value="error"
            border="right"
            colored-border
            type="error"
            transition="scale-transition"
          >{{errorText}}</v-alert>
        </v-row>
      </v-col>
    </v-row>

    <v-overlay :value="getLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>


<script>
import { validationMixin } from "vuelidate";
import { required, url, numeric } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      itens: [],
      modal: false,
      dialog: false,
      headers: [
        { text: "Nome", value: "Nome" },
        { text: "", value: "action", sortable: false }
      ],
      nome: null,
      Preco1: null,
      Preco2: null,
      Preco3: null,
      Link1: null,
      Link2: null,
      Link3: null,
      edit: false,
      Descricao: null,
      itemedit: null,
      render: 0,
      pedidodesc: null,
      error: false,
      errorText: null
    };
  },
  methods: {
    teste() {
      this.dialog = true;
    },
    editItem(item) {

      this.Link1 = item.Link1;
      this.Link2 = item.Link2;
      this.Link3 = item.Link3;
      this.Preco1 = item.Preco1;
      this.Preco2 = item.Preco2;
      this.Preco3 = item.Preco3;
      this.nome = item.Nome;
      this.dialog = true;
      this.edit = true;
      this.itemedit = item;
      this.Descricao = item.Descricao;
    },
    registrar() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      if (this.edit) {
        let it = this.itemedit;
        let ind = this.itens.indexOf(it);


        this.itens[ind].Link1 = this.Link1;
        this.itens[ind].Link2 = this.Link2;
        this.itens[ind].Link3 = this.Link3;
        this.itens[ind].Nome = this.nome;
        this.itens[ind].Preco1 = this.Preco1;
        this.itens[ind].Preco2 = this.Preco2;
        this.itens[ind].Preco3 = this.Preco3;
        this.itens[ind].Descricao = this.Descricao;
        this.edit = false;
      } else {
        this.itens.push({
          Nome: this.nome,
          Preco1: this.Preco1,
          Preco2: this.Preco2,
          Preco3: this.Preco3,
          Link1: this.Link1,
          Link2: this.Link2,
          Link3: this.Link3,
          Descricao: this.Descricao,
          Status: 0
        });
      }


      this.dialog = false;
      this.render++;
    },
    remove(item) {
      let ind = this.itens.indexOf(item);
      if (ind !== -1) {
        this.itens.splice(ind, 1);
      }
      this.render++;
    },
    registrarPedido() {
      if (this.itens === 0) {
        return;
      }
      let data = {
        userName: this.$store.getters.getusername,
        PedidoEntity: {
          DescricaoPedido: this.pedidodesc
        },
        ItensBinding: this.itens
      };


      this.$store.dispatch("setLoading", true);

      var token = this.$store.getters.gettoken;
      this.axios
        .post("https://projetolincepa.azurewebsites.net/api/pedido", data, {
          headers: {
            "content-type": "application/json",
            Authorization: "Bearer " + token
          }
        })
        .then(() => {
          this.$router.push({ name: "dash" });
        })
        .catch(e => {

          this.errorText = e.response
            ? e.response.data.error_description
            : "Comunicação com o servidor falha";
          this.error = true;
        })
        .finally(() => {
          this.$store.dispatch("setLoading", false);
          setTimeout(() => {
            this.error = false;
          }, 10000);
        });
    }
  },
  computed: {
    Link1Error() {
      const errors = [];
      if (!this.$v.Link1.$dirty) return errors;
      !this.$v.Link1.required && errors.push("URL necessária");
      !this.$v.Link1.url && errors.push("URL invalida (inclua o http://)");
      return errors;
    },
    Link2Error() {
      const errors = [];
      if (!this.$v.Link2.$dirty) return errors;
      !this.$v.Link2.required && errors.push("URL necessária");
      !this.$v.Link2.url && errors.push("URL invalida (inclua o http://)");
      return errors;
    },
    Link3Error() {
      const errors = [];
      if (!this.$v.Link3.$dirty) return errors;
      !this.$v.Link3.required && errors.push("URL necessária");
      !this.$v.Link3.url && errors.push("URL invalida (inclua o http://)");
      return errors;
    },
    precoError() {
      const errors = [];
      if (
        !this.$v.Preco1.$dirty ||
        !this.$v.Preco2.$dirty ||
        !this.$v.Preco3.$dirty
      )
        return errors;
      !this.$v.Preco1.required && errors.push("Preco necessario");
      !this.$v.Preco2.required && errors.push("Preco necessario");
      !this.$v.Preco3.required && errors.push("Preco necessario");
      return errors;
    },
    nomeError() {
      const errors = [];
      if (!this.$v.nome.$dirty) return errors;
      !this.$v.nome.required && errors.push("Nome necessario");
      return errors;
    },
    descItemError() {
      const errors = [];
      if (!this.$v.Descricao.$dirty) return errors;
      !this.$v.Descricao.required && errors.push("Descricao necessaria");
      return errors;
    },
    getLoading() {
      return this.$store.getters.getloading;
    }
  },
  mixins: [validationMixin],
  validations: {
    Link1: { required, url },
    Link2: { required, url },
    Link3: { required, url },
    nome: { required },
    Preco1: { required, numeric },
    Preco2: { required, numeric },
    Preco3: { required, numeric },
    Descricao: { required }
  },
  watch: {
    dialog: function() {
      if (!this.dialog) {
        this.Link1 = null;
        this.Link2 = null;
        this.Link3 = null;
        this.nome = null;
        this.Preco1 = null;
        this.Preco2 = null;
        this.Preco3 = null;
        this.Descricao = null;
        this.$v.$reset();
      }
    }
  }
};
</script>