<template>
  <v-navigation-drawer
    v-model="drawer"
    :mini-variant.sync="mini"
    color="grey darken-3"
    app
    permanent
    :key="render"
  >
    <v-list-item @click="$router.push('login')" v-if="gettoken==null">
      <v-list-item-avatar>
        <v-img :src="require('../assets/defaultavatar.jpg')"></v-img>
      </v-list-item-avatar>
      <v-list-item-title class="green--text">Login</v-list-item-title>
      <v-btn icon @mouseover="mini = !mini">
        <v-icon color="green">mdi-chevron-left</v-icon>
      </v-btn>
    </v-list-item>
    <v-list-item v-else>
      <v-list-item-avatar>
        <v-icon color="green" v-if="getAuthAdm">mdi-shield-account</v-icon>
        <v-icon color="green" v-else-if="getAuthCap">mdi-crown-outline</v-icon>
        <v-icon v-else color="green">mdi-account-outline</v-icon>
      </v-list-item-avatar>
      <v-list-item-title class="green--text">{{getuser}}</v-list-item-title>
      <v-btn icon @mouseover="mini = !mini">
        <v-icon color="green">mdi-chevron-left</v-icon>
      </v-btn>
    </v-list-item>
    <v-divider class="green"></v-divider>

    <v-list dense>
      <v-list-item
        v-for="item in getList"
        :key="item.title"
        link
        v-on:click="$router.push(item.path)"
      >
        <v-list-item-icon>
          <v-icon :color="item.color">{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title :class="item.color+'--text'">{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item link v-if="gettoken!=null" @click="logout">
        <v-list-item-icon>
          <v-icon color="red">mdi-close-circle</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title class="red--text">logout</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import * as Cookies from "js-cookie";
export default {
  data() {
    return {
      drawer: true,
      notlogged: [
        {
          title: "LINCE",
          icon: "mdi-guy-fawkes-mask",
          path: "/facens",
          color: "green"
        }
      ],
      logged: [
        {
          title: "Minha conta",
          icon: "mdi-fingerprint",
          path: "/dash",
          color: "green"
        },
        {
          title: "Realizar Pedido",
          icon: "mdi-cart-outline",
          path: "/pedidos",
          color: "green"
        }
      ],
      adm: [
        {
          title: "Todos os pedidos",
          icon: "mdi-fingerprint",
          path: "/dash",
          color: "green"
        },
        {
          title: "Cadastro equipe",
          icon: "mdi-account-multiple-plus-outline",
          path: "/cadastroequipe",
          color: "green"
        },
        {
          title: "Cadastro Pessoas",
          icon: "mdi-account-plus-outline",
          path: "/cadastropessoa",
          color: "green"
        }
      ],
      cap: [
        {
          title: "Todos os pedidos",
          icon: "mdi-fingerprint",
          path: "/dash",
          color: "green"
        },
        {
          title: "Realizar Pedido",
          icon: "mdi-cart-outline",
          path: "/pedidos",
          color: "green"
        },
        {
          title: "Cadastro Pessoas",
          icon: "mdi-account-plus-outline",
          path: "/pessoacap",
          color: "green"
        }
      ],
      mini: true,
      render: 0
    };
  },
  methods: {
    logout() {
      Cookies.remove("access_token");
      Cookies.remove("username");
      Cookies.remove("is_adm");
      Cookies.remove("is_cap");
      Cookies.remove("IdUser");
      Cookies.remove("IdEquipede");
      this.$store.dispatch("logout");
      this.$router.push("/login");
    }
  },
  computed: {
    gettoken() {
      return this.$store.getters.gettoken;
    },
    getuser() {
      return this.$store.getters.getusername;
    },
    getList() {
      if (this.gettoken == null) {
        return this.notlogged;
      } else if (this.getAuthAdm) {
        return this.adm;
      } else if (this.getAuthCap) {
        return this.cap;
      } else return this.logged;
    },
    getAuthAdm() {
      return this.$store.getters.isadm;
    },
    getAuthCap() {
      return this.$store.getters.iscap;
    }
  }
};
</script>