<template>

    <v-container fluid>
      <v-row  >
        <v-col>
          <v-row align="center" justify="center">
            <h1 class="display-4">Teste</h1>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

</template>
<style>
input,
select,
textarea {
  color: rgb(192, 192, 192);
}
</style>