<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on }">
        <v-btn color="grey" dark v-on="on">adicionar item</v-btn>
      </template>

      <v-card elevation="24" color="grey darken-2">
        <v-container fluid>
          <v-row align="center" justify="center">
            <v-col>
              <h1 class="display-1 text-center">Registro de Item</h1>
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col sm="6" md="6">
              <v-text-field
                label="URL"
                v-model="url1"
                solo
                background-color="grey"
                required
                color="green--text"
                :error-messages="urlError"
              ></v-text-field>
            </v-col>
            <v-col sm="4" md="3">
              <v-text-field
                label="Preco 1"
                v-model="preco1"
                solo
                background-color="grey"
                required
                color="green--text"
                :error-messages="urlError"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col sm="6" md="6">
              <v-text-field
                label="URL"
                v-model="url2"
                solo
                background-color="grey"
                required
                color="green--text"
                :error-messages="urlError"
              ></v-text-field>
            </v-col>
            <v-col sm="4" md="3">
              <v-text-field
                label="Preco 2"
                v-model="preco2"
                solo
                background-color="grey"
                required
                color="green--text"
                :error-messages="urlError"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col sm="6" md="6">
              <v-text-field
                label="URL"
                v-model="url3"
                solo
                background-color="grey"
                required
                color="green--text"
                :error-messages="urlError"
              ></v-text-field>
            </v-col>
            <v-col sm="4" md="3">
              <v-text-field
                label="Preco 3"
                v-model="preco3"
                solo
                background-color="grey"
                required
                color="green--text"
                :error-messages="urlError"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col sm="12" md="6">
              <v-text-field
                label="Nome"
                v-model="url3"
                solo
                background-color="grey"
                required
                color="green--text"
                :error-messages="urlError"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center" justify="center">
            <v-col sm="4">
              <v-btn @click="registrar" color="green">Adicionar Item</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
export default {
  props: ["dialog"],
  data() {
    return {
      dialog: false,
      nome: null,
      preco1: null,
      preco2: null,
      preco3: null,
      url1: null,
      url2: null,
      url3: null
    };
  },
  mixins: [validationMixin],
  validations: {
    url: { required }
  },
  computed: {
    urlError() {
      const errors = [];
      if (!this.$v.url.$dirty) return errors;
      !this.$v.url.required && errors.push("URL necessária");
      return errors;
    }
  },
  methods: {
    registrar() {
      this.$v.$touch();

      if (this.$v.$anyError) {
        return;
      }
    }
  }
};
</script>