<template>
  <v-app>
    <Drawer />
    <v-content class="grey darken-2">
      <vue-page-transition name="fade">
        <router-view></router-view>
      </vue-page-transition>
    </v-content>
  </v-app>
</template>

<script>
import Drawer from "./components/Drawer";

export default {
  name: "App",
  components: {
    Drawer
  },
  data: () => ({
    //
  })
};
</script>
